@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Dark background */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Background with static grid lines */
.space-background {
  background-color: #000000; /* Dark background resembling space */
  position: relative;
  top: 120px;
  min-height: 100vh; /* Ensure background covers the whole screen */
  overflow: hidden;
}

/* Creating the static grid lines */
.space-background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px), /* Diagonal lines */
    linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px), /* Other diagonal lines */
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px), /* Horizontal lines */
    linear-gradient(0deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);  /* Vertical lines */
  background-size: 40px 40px; /* Size of the grid */
  opacity: 0.5; /* Subtle visibility */
}

* {
  box-sizing: border-box;
}

.bg-pattern {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px), /* Vertical lines */
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px); /* Horizontal lines */
  background-size: 30px 30px; /* Size of the grid cells */
  background-position: -15px -15px, -15px -15px; /* Move the grid pattern slightly to remove the edge lines */
  opacity: 0.3; /* Control the line opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Ensure it's behind other content */
}

